.posts__new{
    margin: 60px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    .post{
        max-width: 255px;
        height: 444px;
        .post__img {
            &img{
                max-width: 255px;
                min-height: 186px;
            }
           
        }
        .post__title{
            padding: 16px 0px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 120%;
            color: #1D212A;

        }
        .post__text{
            font-family: 'Open_Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #565A65;
        }
        .post__btn{
            padding-top: 24px;
            & a{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #1D212A;
            }
            .arrow{
                position: absolute;
                margin-top: 12px;
                margin-left: 7px;
                width: 10px;
                height: 10px;
                background: transparent;
                border-top: 3px solid #32d989;
                border-right: 3px solid #30d987;
                transition: all 200ms ease;
                transform: translate3d(0,-50%,0) rotate(45deg);
                &:hover {
                    border-color: #30d987;
                    box-shadow: 0.5vmin -0.5vmin 0 #2e9563;
                }
            }
            & a:hover {
                color: #32d989;;
            }
        }
    }
}
.new__posts__btn{
    text-align: center;
    background: #8770FF;
    border-radius: 8px;
    padding: 12px 32px;
    & a{   
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
    }
    &:hover{
        background: rgb(167, 115, 206);
        background: linear-gradient(0deg, rgb(164, 98, 194) 0%, rgb(151, 102, 225) 100%);
    }
}