.page__main{
    background: #F1F3F6;
}
.disclaimer{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #B6BFD9;
}
h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 120%;
    color: #1D212A;
}
.subtitle{
    font-family: 'Open_Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: justify;
    color: #565A65;
}
.background__text{
    margin: 0 auto;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 288px;
    line-height: 100%;
    background: linear-gradient(180deg, #FFFFFF 31.39%, rgba(255, 255, 255, 0) 94.79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.first__screen__main{
    width: 100%;
    height: 100vh;
    background: url("./pictures/Hero_backgruund.svg") center no-repeat #F1F3F6;
    background-size: cover;
    // .first__screen__img{
    //     height:840px;
    //     width: 100%;
    //     .hero__img{
    //         width: 58%;
    //         position: absolute;
    //         top: 22.5%;
    //         left: 50%;
    //         // width: 42%;
    //         // height: 79%;
    //         // position: relative;
    //         // bottom: calc(60% / 1.6);
    //         // left: calc(80% / 1.6);
    //     }
    //     .line{
    //         z-index: 1;
    //         width: 70%;
    //         position: absolute;
    //         top: calc(60% / 1.6);
    //         // z-index: 2;
    //         // width: 70%;
    //         // position: relative;
    //         // top: calc(200px / 1.6);
    //     }
    //     .plane {
    //         position: absolute;

    //         z-index: 3;
    //         width: 107px;
    //         height: 114px;
    //     }
    //     .cookie{
    //         z-index: 3;
    //         position: absolute;
    //         top: 85.5%;
    //         left: 14%;
    //         width: 22%;
    //     }
    //     .document{
    //         z-index: 8;
    //         position: absolute;
    //         top: 70.5%;
    //         left: 37%;
    //         width: 31%;
    //     }
    //     .lock{
    //         position: absolute;
    //         top: 22.5%;
    //         left: 10%;
    //         width: 150px;
    //         height: 330px;
    //     }
    // }   
        
        
    
}
.second__screen__main{
    margin: 0 auto;
    // .ai{
    //     margin: 0 auto;
    //     width: 254px;
    //     height: 288px;
    //     font-family: 'Poppins';
    //     font-style: normal;
    //     font-weight: 300;
    //     font-size: 288px;
    //     line-height: 100%;
    //     background: linear-gradient(180deg, #FFFFFF 31.39%, rgba(255, 255, 255, 0) 94.79%);
    //     -webkit-background-clip: text;
    //     -webkit-text-fill-color: transparent;
    //     background-clip: text;
    // }
    .possibilities{
        position: relative;
        bottom: 170px;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        .scrin__img{
            & img{
                max-width: 884px;
                min-height: 661px;
            }
        }
        .second__block{
            max-width: 474px;
        }
        .second__list{
            margin:48px 0px 45px 45px;
            .list{
                li::before {
                    content: url("./pictures/Done.svg");
                    margin-right: 8px;
                }
                .list__item{
                    display: flex;
                    font-family: 'Open_Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: #565A65;
                    padding: 8px 0px;
                }
            }
        }
        .page__btn{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            gap: 16px;
        }
        .generate__btn{
            background: #8770FF;
            border-radius: 8px;
            padding: 12px 64px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
            &:hover{
                background: rgb(167, 115, 206);
                background: linear-gradient(0deg, rgb(164, 98, 194) 0%, rgb(151, 102, 225) 100%);
            }
        }
        & a{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;  
            color: #1D212A;
            &:hover{
                color: #32d989;
            } 
            .arrow{
                position: absolute;
                margin-top: 12px;
                margin-left: 7px;
                width: 10px;
                height: 10px;
                background: transparent;
                border-top: 3px solid #32d989;
                border-right: 3px solid #30d987;
                transition: all 200ms ease;
                transform: translate3d(0,-50%,0) rotate(45deg);
            }
        }   
    }
}

.third__screen__main{
    display: flex;
    align-items: center;
    .third__title{
        max-width: 481px;
    }
    .video__main{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        // margin-bottom: 120px;
        .video{
            background: linear-gradient(306.08deg, #8770FF 0%, #AA9AFF 92.4%);
            box-shadow: 0px 38px 56px rgba(191, 204, 225, 0.39), 0px 20.7957px 15.3272px rgba(191, 204, 225, 0.177553), 0px 15.8955px 0px rgba(191, 204, 225, 0.0372931);
            border-radius: 8px;
            width: 350px;
            min-height: 255px;
        }
        .line__video{
            background: #8770FF;
            height: 1px;
            width: 90%;
            .numer__video{
                position: relative;
                bottom: 30px;
                display: flex;
                justify-content: center;
                justify-content: space-evenly;
                .numer__block{
                    margin: 0px 10px;
                    max-width: 166px;
                    display: flex;
                    flex-direction: column;
                    .numer{
                        background: #F1F3F6;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        border: 1px solid #8770FF;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 120%;
                        color: #8770FF
                    }
                    & p{
                        margin-top: 32px;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 120%;
                        color: #1D212A;
                    }
                }
            }
        }
    }
}

.fourth__screen__main{
    .top{ 
        position: relative;
        top: 200px;
    }
    .left{
        position: relative;
        right: 30%;
        text-align: left;
    }
   .fourth__title{
        margin-bottom: 120px;
        z-index: 2;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .title__block{
            max-width: 397px;
        }
        .subtitle__text{
            max-width: 306.47px;
        }
   }
}
.fifth__screen__main{
    margin-top: 180px;
    margin-bottom: 60px;
    text-align: center;
    .subtitle__text{
        max-width: 480px;
        .subtitle{
             text-align: center;
        }
       
    }
}