@import '../../template.scss';

.policy__details{
    background: #F1F3F6;
    .first__screen{
        max-width: 100%;
        min-height: 100vh;
        background: url("./pictures/backgruund.webp") center no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}

///title styles
.blok__title__container{
    max-width: 731.9px;
    min-height: 194px;
    .disclaimer{
        padding-bottom: 16px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #B6BFD9;
        padding-bottom: 16px;
        @include adaptiv-font(18, 14);
    }
    & h1{
        padding: 16px 0px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        line-height: 120%;
        text-align: center;
        color: #1D212A;
        @include adaptiv-font(64, 32);
    }
    .subtitle{
        max-width: 732px;
        & p{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            text-align: center;
            color: #1D212A;
            @include adaptiv-font(24, 16);
        }

    }
    .page__btn{
        padding-top: 8%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .generate__btn{
            width: 140px;
            height: 48px;
            background: #8770FF;
            border-radius: 8px;
            padding: 12px 32px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
            &:hover{
                background: rgb(167, 115, 206);
                background: linear-gradient(0deg, rgb(164, 98, 194) 0%, rgb(151, 102, 225) 100%);
            }
        }
        & a{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;  
            color: #1D212A;
        }
        .arrow{
            position: absolute;
            margin-top: 12px;
            margin-left: 7px;
            width: 10px;
            height: 10px;
            background: transparent;
            border-top: 3px solid #32d989;
            border-right: 3px solid #30d987;
            transition: all 200ms ease;
            transform: translate3d(0,-50%,0) rotate(45deg);
            &:hover {
                border-color: #30d987;
                box-shadow: 0.5vmin -0.5vmin 0 #2e9563;
            }
        }
        & a:hover {
            color: #32d989;;
        }
    }
}

.advanced__features__title__container{
    & h2{
        font-family: 'Poppins';
        max-width: 426px;
        font-style: normal;
        font-weight: 300;
        line-height: 120%;
        text-align: center;
        color: #1D212A;
        @include adaptiv-font(48, 24);
    }   
} 

///cards styles
.page__container{
    padding-bottom: 180px;
}
.advanced__features__blok{
    display: flex;
    flex-direction: column;
    align-items: center;

    .cards__one{
        margin: 30px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .cards__one__text{
            & h2{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 300;
                font-size: 38px;
                line-height: 120%;
                color: #1D212A;
                @include adaptiv-font(38, 18);
            }
            & p{
                padding-top: 16px;
                font-family: 'Open_Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #565A65;
            }
        }
        .cards__one__img{
            & img{
                width: 710px;
                height: 563px;
            }
        }
        .cards__two__img{ 
            & img{
                width: 789px;
                height: 530px;
                padding-left: 60px;
            }
        }
        .cards__three__img{ 
            & img{
                width: 710px;
                height: 470px;
            }
        }
    }
}

///styles for lists
.online__terms{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h2 {
        max-width: 564px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        line-height: 120%;
        text-align: center;
        color: #1D212A;
        @include adaptiv-font(48, 24);
    }
    .online__terms__btn{
        margin: 60px 0px 120px 0px ;
        padding: 12px 48px;
        gap: 10px;
        width: 172px;
        height: 48px;
        background: #8770FF;
        border-radius: 8px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        &:hover{
            background: rgb(167, 115, 206);
            background: linear-gradient(0deg, rgb(164, 98, 194) 0%, rgb(151, 102, 225) 100%);
        }
    }
}

.online__terms__generator{
    margin-top: 60px;
    justify-content: center;
    display: flex;
    gap: 30px;
    .agreements{
        width: 45%;
        min-height: 466px;
        & h3{
            padding-bottom: 16px;
            max-width: 290px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            color: #1D212A;
            @include adaptiv-font(24, 18);
        }
        & p, li{
            display: flex;
            font-family: 'Open_Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #565A65;
        }
        .list{
            padding: 24px 0px 24px 45px;
            & li::before {
                content: url("./pictures/Done.webp");
                margin-right: 5px;
            }
            .list__item{
                padding: 8px 0px;
            }
        }
    }
    .business__safeguard{
        width: 45%;
        min-height: 466px;
        & h3{
            padding-bottom: 16px;
            max-width: 290px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            color: #1D212A;
            @include adaptiv-font(24, 18);
        }
        & p, li{
            text-align: justify;
            display: flex;
            font-family: 'Open_Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #565A65;
        }
        .list{
            padding: 24px 0px 24px 45px;
            & li::before {
                content: url("./pictures/Done.webp");
                margin-right: 5px;
            }
            .list__item{
                padding: 8px 0px;
            }
        }
    }
}

///header styles for the slider
.explore__iTerms__blok{
    margin-bottom: 60px;
    display: flex;
    max-width: 957.05px;
    min-height: 159px;
    align-items: center;
    justify-content: space-between;
    .disclaimer__explore__iTerms{
        & p{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #B6BFD9; 
            @include adaptiv-font(18, 14);
        }
        & h2{
            max-width: 338px;
            min-height: 116px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 300;
            line-height: 120%;
            color: #1D212A;
            @include adaptiv-font(48, 24);
        }
    }
    .explore__iTerms__text{
        max-width: 310.05px;
        min-height: 48px;
        & p{
            font-family: 'Open_Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #565A65; 
        }
    }
}

///media
@media (max-width: 995px) {
    .advanced__features__blok{
        .cards__one{
            .cards__one__text {
                max-width: 325px;
            }
            .cards__one__img{ 
                & img{
                    width: 491.6px;
                    height: 457.001px;
                }
            }
            .cards__two__img{
                & img{
                    width: 491.126px;
                    height: 412.399px;
                }
            }
            .cards__three__img{
                & img{
                    width: 480.192px;
                    height: 373.408px;
                }
            }
        }
    }
    .explore__iTerms__blok{
        margin-left: 6%;
        min-height: 159px;
        align-items: start;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .advanced__features__blok{
        .cards__one{
            .cards__one__text {
                max-width: 325px;
                & h2{
                    font-weight: 400;
                }
            }
            .cards__one__img{ 
                & img{
                    width: 291.6px;
                    height: 257.001px;
                }
            }
            .cards__two__img{
                & img{
                    width: 291.126px;
                    height: 212.399px;
                }
            }
            .cards__three__img{
                & img{
                    width: 280.192px;
                    height: 173.408px;
                }
            }
        }
    }
    .explore__iTerms__blok{
        margin-left: 6%;
        min-height: 159px;
        align-items: start;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (max-width: 600px) {
    .online__terms__generator{
        margin: 60px 15px 0px 15px;
        flex-direction: column;
        justify-content: center;
        .agreements{
            width: 90%;
            .list{
                padding: 24px 0px 24px 25px;
            }
        }
        .business__safeguard{
            width: 90%;
            .list{
                padding: 24px 0px 24px 25px;
            }
            
        }
    }
}
@media (max-width: 450px) {
    .advanced__features__blok{
        .cards__one{
            margin: 24px 0px;
            flex-direction: column;
            align-items: center;
            .cards__one__text {
                text-align: center;
                max-width: 325px;
                & h2{
                    font-weight: 400;
                }
            }
            .cards__one__img{ 
                & img{
                    width: 330px;
                    height: 261px;
                }
            }
            .cards__two__img{
                & img{
                    width: 245.513px;
                    height: 181.521px;
                }
            }
            .cards__three__img{
                & img{
                    width: 286.098px;
                    height: 177.064px;
                }
            }
        }
        .reverse{
            flex-direction: column-reverse;
        }
    }
    .online__terms{
        margin-top: 90px;
        & h2 {
            font-weight: 400;
        }
    }
}