$text-color:#1D212A; 
$color-hover:#8770FF;
@import '../../template.scss';

.header{
    max-width: 100%;
    height: 72px;
    right: 0;
    left: 0;
    background-color: #fdfefe;
    position: fixed;
    top: 0;
    z-index: 8;
    .header__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1110px;
        height: 72px;
        padding: 22px 4px; 
    } 
}

.header__logo {
    .header__row {
        width: 125px;
        height: 46px;
    }
    & a{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-weight: normal;
        line-height: 120%;
        color: $text-color;
        @include adaptiv-font(38, 20);
    }
    & a:hover{
        color: $color-hover;
    }  
}

.header__menu {
    width: 560px;
    display: flex;
    justify-content: space-between;
    .header__menu__list{
        width: 410px;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .header__languages{
        display: flex;
        align-items: flex-end;
        align-items: center;
        & select{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #1D212A;
            cursor: pointer;
            background: none;
            outline: none;
            &:hover {
                color: $color-hover;
            }
            & option{
                font-size: 14px;
                background-color: #8870ff00;
            }
        }
    }
}

.header__menu__list{
    .menu__item{
       padding: 12px;  
        & a {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 26px;
            color: $text-color;
        }
        & a:hover {
            color: $color-hover;
        }
    }
}

.header__btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 280px;
    .header__log__in__btn{
        width: 80px;
        background-color: #FFFFFF;
        & a{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: $text-color;
        padding: 12px 16px;  
        }
        & a:hover {
            color: $color-hover;
        }

    }

    .header__sign__up__btn{
        background: #8770FF;
        border-radius: 8px;
        width: 140px;
        height: 48px;
        &:hover{
            background: rgb(167, 115, 206);
            background: linear-gradient(0deg, rgb(164, 98, 194) 0%, rgb(151, 102, 225) 100%);
        }
        & a{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
        }
    }
}

@media (max-width: 810px) {
    .header__btn{
        .header__sign__up__btn{
            width: 110px;
        }
    }
}
@media (max-width: 768px) {
    .header{
        .header__container{
            max-width: 100%;
            display: block;
            padding: 5px;
        } 
    }

    .menu{
        display: flex;
        max-width: 100%;
        justify-content: space-between;
        align-items: center;

    }

    .header__logo{
        z-index: 5;
        .header__row {
            padding: 15px 15px 15px 15px;
        }
        .header__row a{
            font-weight: 400;
        }
    }

             
    // burger menu
             
    .menu_btn {
        display: flex;
        width: 30px;
        height: 30px;
        position: relative;
        z-index:5;
        overflow: hidden;
    }
    
    .menu_btn span {
        width: 25px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #222222;
        transition: all 0.5s;
    }
    
    .menu_btn span:nth-of-type(2) {
        top: calc(50% - 5px);
    }
    .menu_btn span:nth-of-type(3) {
        top: calc(50% + 5px);
    }
    .menu_btn.active span:nth-of-type(1) {
      display: none;
    }
    .menu_btn.active span:nth-of-type(2) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(45deg);  
    }
    .menu_btn.active span:nth-of-type(3) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(-45deg); 
    }
    
    .header__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: rgba(255, 255, 255, 1);
        transform: translateX(-100%);
        transition: transform 0.5s; 
        z-index: 4;
    }
    
    .header__menu.active {
        transform: translateX(0);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .header__menu li {
        list-style-type: none;
    }

    .header__menu {
        padding-top: 170px;
        .header__menu__list{
            flex-direction: column;
        }
        .header__languages{
            padding: 0px 0px 10px 0px;
        }
        
    }
    .header__menu__list{
        padding-top: 10px;
        .menu__item{
           padding: 15px 0px;  
        }
    }

    // header buttons
    .accordion__tab {
        height: 40px;
        & button {
            color: #32D989;;
            position: relative;
            display: block;
            text-align: left;
            font-weight: 400;
            background: none;
            outline: none;
            .accordion__title {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 150%;
                color: #1D212A;
                &:hover {
                    color: #8770FF;
                }
            }
            .icon {
                display: inline-block;
                position: absolute;
                top: -8px;
                right: -39px;
                width: 22px;
                height: 22px;
                &::after {
                    transform: rotate(180deg);
                    display: block;
                    position: absolute;
                    content: url("./pictures/arrow.webp");
                    bottom: -6px;
                    left: -6px;
                
                }
            }
        }
    
        & button[aria-expanded='true'] {
            color: #8770FF;
            .icon {
                &::after {
                    transform: rotate(0deg);
                   
                }
            }
            +.accordion__content {
                padding-left: 1em;
                opacity: 1;
                max-height: 200px;
                transition: all 300ms linear;
                will-change: opacity, max-height;
            }
        }
    
        .accordion__content {
            transition: all 0.4s;
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            will-change: opacity, max-height;
            .item{
                & li{
                    margin: 10px 0px;
                    & a {
                        padding: 12px 0px;
                        font-family: 'Open_Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                        color: #565A65;
                    }
                    & a:hover{
                        color: #8770FF;
                    }
                }
            }
        }
    }
    .header__btn{
        .header__log__in__btn{
            display: none;
        }
        .header__sign__up__btn{
        display: none;
        }
    }
} 