.pricing__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.block__pro{
    background: #FFFFFF;
    box-shadow: 0px 38px 56px rgba(191, 204, 225, 0.39), 0px 20.7957px 15.3272px rgba(191, 204, 225, 0.177553), 0px 15.8955px 0px rgba(191, 204, 225, 0.0372931);
    border-radius: 8px 8px 8px 8px;
    width: 95%;
    min-height: 360px;
    text-align: left;
    .most__popular{
        position: relative;
        bottom: 66px;
        height: 64px;
        background: rgba(50, 217, 137, 0.1);
        border-radius: 8px 8px 0px 0px;
        & p{
            padding: 15px 8px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #32D989;
        }
    }
    .block__table{
        border-bottom: 1px solid #B6BFD9;
        padding: 0px 0px 32px 0px;
        margin: 0px 24px;
        .for__startups{
            padding: 4px 8px;
            background: rgba(182, 191, 217, 0.12);
            border-radius: 4px;
            font-family: 'Open_Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 120%;
            color: #565A65;
        }
        & h3{
            padding: 8px 0px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 300;
            font-size: 38px;
            line-height: 120%;
            color: #3EDE91;
        }
        & p{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 300;
            font-size: 48px;
            line-height: 120%;
            color: #1D212A;
            & span{
                font-weight: 400;
                font-size: 18px;
                color: #8B94AD;
                margin-left: -13px;
            }
            & sup{
                font-weight: 400;
                font-size: 24px;
                color: #1D212A;
                position: relative;
                bottom: 15px;
            }
        }
        & button{
            margin-right: 10px;
            background: #8770FF;
            border-radius: 8px;
            padding: 12px 32px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
        }
    }
    
}

.block__basic{
    position: relative;
    z-index: 1;
    top: 30px;
    width: 95%;
    min-height: 360px;
    background: #FFFFFF;
    box-shadow: 0px 38px 56px rgba(191, 204, 225, 0.39), 0px 20.7957px 15.3272px rgba(191, 204, 225, 0.177553), 0px 15.8955px 0px rgba(191, 204, 225, 0.0372931);
    border-radius: 8px 8px 8px 8px;
    text-align: left;
    .block__table{
        padding: 32px 0px;
        margin: 0px 24px;
        border-bottom: 1px solid #B6BFD9;
        .for__businesses{
            padding: 4px 8px;
            background: rgba(182, 191, 217, 0.12);
            border-radius: 4px;
            font-family: 'Open_Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 120%;
            color: #565A65;
        }
        & h3{
            padding: 8px 0px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 300;
            font-size: 38px;
            line-height: 120%;
            color: #8770FF;
        }
        & p{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 300;
            font-size: 48px;
            line-height: 120%;
            color: #1D212A;
            & span{
                font-weight: 400;
                font-size: 18px;
                color: #8B94AD;
            }
            & sup{
                font-weight: 400;
                font-size: 24px;
                color: #1D212A;
                position: relative;
                bottom: 15px;
            }
        }
        & button{
            margin-right: 10px;
            border: 1px solid #897EFF;
            border-radius: 8px;
            padding: 12px 32px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #897EFF;
            background-color: #f1f3f600;
        }
    }
}
.accordion__tab {
    button {
        color: #32D989;;
        position: relative;
        display: block;
        text-align: left;
        padding: 1em 0em;
        font-size: 1.5rem;
        font-weight: 400;
        border: none;
        background: none;
        outline: none;
        .accordion__title {
            padding-left: 24px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #1D212A;
            &:hover, &:focus {
                color: #8770FF;
            }
        }
        .icon {
            display: inline-block;
            position: absolute;
            top: 27px;
            right: -39px;
            width: 22px;
            height: 22px;
            &::after {
                transform: rotate(180deg);
                display: block;
                position: absolute;
                content: url("./pictures/arrow.webp");
                bottom: -9px;
                left: -6px;
            
            }
        }
    }

    button[aria-expanded='true'] {
        color: #8770FF;
        .icon {
            &::after {
                transform: rotate(0deg);
                bottom: 0px;
            }
        }
        +.accordion__content {
            padding-left: 2em;
            opacity: 1;
            max-height: 800px;
            transition: all 300ms linear;
            will-change: opacity, max-height;
        }
    }

    .accordion__content {
        transition: all 0.4s;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        will-change: opacity, max-height;
        .item__pro{
            li {
                padding: 12px 0px;
                font-family: 'Open_Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #565A65;
                &::before{
                    content: url("./pictures/DoneG.webp");
                    position: relative;
                    top: 5px;
                    right: 8px;
                }
            }
        }
        .item__basic{
            .not_included{
                padding: 12px 0px;
                font-family: 'Open_Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #565A65;
                &::before{
                    content: '';
                    margin-right: 11px;
                    position: relative;
                    display: inline-block;
                    background: #B6BFD9;
                    height: 2px;
                    width: 18px;
                    bottom: 6px;
                }
            }
            .included {
                padding: 12px 0px;
                font-family: 'Open_Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #565A65;
                &::before{
                    content: url("./pictures/DoneP.webp");
                    position: relative;
                    top: 5px;
                    right: 8px;
                }
            }
        }

        h3{
            padding: 20px 0px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;
            color: #1D212A; 
        }
    }
}