.legal__safeguards{
    max-width: 100%;
    min-height: 779px;
    background: url("./pictures/LeganProtectionYou1.jpg") center no-repeat;
    background-size: cover;
    .legal__safeguards__container{
        .legal__safeguards__text{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            max-width: 614px;
            height: 770px;
            .disclaimer__legal__safeguards{
                padding-top: 25px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 150%;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #E7E9ED;
                .disclaimer__media{
                    display: none;
                }
            }
            .title__legal__safeguards{
                padding-top: 16px;
                .title__legal__safeguards__media{
                    display: none;
                }
                & h2{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 48px;
                    line-height: 120%;
                    color: #FFFFFF;
                }
                & p{
                    padding-top: 16px;
                    font-family: 'Open_Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: #E7E9ED;
                }
            }
        }
    }
}
.cards__legal__safeguards{
    display: flex;
    height: 400px;
    gap: 50px;
    .policies__created {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        margin-bottom: 70px;
        & h3{
            background-color: #9884ff;
            padding: 16px 0px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 300;
            font-size: 38px;
            line-height: 120%;
            text-align: center;
            color: #FFFFFF;
        }
        & p{
            font-family: 'Open_Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #FFFFFF;
        }
    }
    .businesses{
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 68px;
        & h3{
            padding: 16px 0px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 300;
            font-size: 37px;
            line-height: 120%;
            text-align: center;
            color: #FFFFFF;
        }
        & p{
            font-family: 'Open_Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #FFFFFF;
           
        }
    }
    .compliant__pageviews {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        & h3{
            padding: 16px 0px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 300;
            font-size: 38px;
            line-height: 120%;
            text-align: center;
            color: #FFFFFF;
        }
        & p{
            font-family: 'Open_Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #FFFFFF;
        }
    }
}
    
///media

@media (max-width: 1000px) {
    .legal__safeguards{
        background: url("./pictures/LeganProtectionYou2.jpg") center no-repeat;
        .legal__safeguards__container{
            .legal__safeguards__text{
                margin: 0 auto;
                .disclaimer__legal__safeguards{
                    text-align: center;
                }
                .title__legal__safeguards{
                    text-align: center;
                    & p{
                        margin: 0 auto;
                    }
                
                }
            }
        }
    }
    .cards__legal__safeguards{
        display: flex;
        height: 400px;
        gap: 60px;
        .policies__created {
            justify-content: center;
            align-items: center;
            margin-bottom: 0px;
            & h3{
                background-color: #9984ff00;
            }
        }
        .businesses{
            justify-content: center;
            align-items: center;
            margin-bottom: 0px;
        }
        .compliant__pageviews {
            justify-content: center;
            align-items: center;
            margin-bottom: 0px;
            & h3{
                font-size: 34px;
            }
        }
    }
}

@media (max-width: 770px) {
    .legal__safeguards{
        min-height: 591px;
        background: url("./pictures/LeganProtectionYou3.jpg") center no-repeat;
        background-size: cover;
        .legal__safeguards__container{
            .legal__safeguards__text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-width: 614px;
                height: 770px;
                .legal__safeguards__title{
                    max-width: 600px;
                }
                .disclaimer__legal__safeguards{
                    .disclaimer{
                        display: none;   
                    }
                    .disclaimer__media{
                        display: block;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 150%;
                        text-align: center;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                        color: #E7E9ED;
                    }
                }
                .title__legal__safeguards{
                    padding-top: 16px;
                    .title__legal__safeguards__media{
                        display: block;
                        & h2{
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 300;
                            font-size: 48px;
                            line-height: 120%;
                            text-align: center;
                            color: #FFFFFF; 
                        }
                        & p{
                            font-family: 'Open_Sans';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 150%;
                            text-align: center;
                            color: #E7E9ED;
                        }

                    }
                    .title{
                        display: none;
                    }
                    .text{
                        display: none;
                    }
                }
            }
        }
    }
    .cards__legal__safeguards{
        display: flex;
        justify-content: space-evenly;
        height: 400px;
        gap: 0px;
        .policies__created {
            justify-content: center;
            align-items: center;
            margin-bottom: 0px;
            & h3{
                background-color: #9984ff00;
            }
        }
        .businesses{
            justify-content: center;
            align-items: center;
            margin-bottom: 0px;
        }
        .compliant__pageviews {
            justify-content: center;
            align-items: center;
            margin-bottom: 0px;
            & h3{
                font-size: 34px;
            }
        }
    }
}
@media (max-width: 450px) {
    .legal__safeguards{
        min-height: 808px;
        background: url("./pictures/LeganProtectionYou4.jpg") center no-repeat;
        background-size: cover;
        .legal__safeguards__container{
            .legal__safeguards__text{
                padding: 100px 0px 60px 0px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-width: 614px;
                height: 800px;
                .legal__safeguards__title{
                    max-width: 600px;
                }
                .disclaimer__legal__safeguards{
                    .disclaimer{
                        display: none;   
                    }
                    .disclaimer__media{
                        font-size: 14px;
                    }
                }
                .title__legal__safeguards{
                    padding-top: 16px;
                    .title__legal__safeguards__media{
                        display: block;
                        & h2{
                            font-size: 24px;
                        }
                    }
                    .title{
                        display: none;
                    }
                    .text{
                        display: none;
                    }
                }
            }
        }
    }
    .cards__legal__safeguards{
        margin-top: 32px;
        flex-direction: column;
        justify-content: space-between;
        height: 800px;
        gap: 15px;
        .policies__created {
            justify-content: center;
            align-items: center;
            margin-bottom: 0px;
            & h3{
                padding: 8px 0px;
                font-size: 24px;
                background-color: #9984ff00;
            }
        }
        .businesses{
            justify-content: center;
            align-items: center;
            margin-bottom: 0px;
            & h3{
                font-size: 24px;
            }
        }
        .compliant__pageviews {
            justify-content: center;
            align-items: center;
            margin-bottom: 0px;
            & h3{
                font-size: 24px;
            }
        }
    }
    
}