@import '../../template.scss';

.footer{
    max-width: 100%;
    min-height: 779px;
    background: url("./pictures/footer.webp") center no-repeat;
    background-size: cover;
}

.footer__title{
    background: #F9FAFC;
    box-shadow: 0px 38px 56px rgba(109, 93, 202, 0.3), 0px 20.7957px 15.3272px rgba(102, 86, 185, 0.177553), 0px 15.8955px 0px rgba(92, 76, 182, 0.0372931);
    border-radius: 8px 8px 8px 8px;
    max-width: 1110px;
    min-height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    position: relative;
    bottom: 60px;
    .footer__text{
        max-width: 583px;
        margin-top: 60px;
        text-align: center;
        .disclaimer{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #B6BFD9;
            @include adaptiv-font(18, 14);
        }
        & h2{
            padding: 16px 0px;
            font-family: 'Poppins';
            text-transform: capitalize;
            font-style: normal;
            font-weight: 300;
            line-height: 120%;
            text-align: center;
            color: #1D212A;
            @include adaptiv-font(48, 24);
        }
        .subtitle{
            margin: 0 auto;
            max-width: 406px;
            font-family: 'Open_Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #565A65;
        }
    }
    .footer__btn{
        padding: 48px 0px 60px 0px;
        display: flex;
        justify-content: center;            
        align-items: center;
        gap: 16px;
        .button{
            background: #8770FF;
            border-radius: 8px;
            padding: 12px 64px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
            &:hover{
                background: rgb(167, 115, 206);
                background: linear-gradient(0deg, rgb(164, 98, 194) 0%, rgb(151, 102, 225) 100%);
            }
        }
        & a{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;  
            color: #1D212A;
            &:hover{
                color: #32d989;
            } 
            .arrow{
                position: absolute;
                margin-top: 12px;
                margin-left: 7px;
                width: 10px;
                height: 10px;
                background: transparent;
                border-top: 3px solid #32d989;
                border-right: 3px solid #30d987;
                transition: all 200ms ease;
                transform: translate3d(0,-50%,0) rotate(45deg);
            }
        }   
    }
}

.footer__info{
    margin: 60px 0px 48px 0px;
    display: flex;
    .info__block{
        display: flex;
        align-items: flex-start;
        gap: 88px;
        .box{
            display: flex;
            gap: 8px;
            flex-direction: column;
            & h3{
                padding-bottom: 16px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                color: #FFFFFF;
                @include adaptiv-font(24, 18);
            }
            & a{
                font-family: 'Open_Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #E7E9ED;
            }
            & a:hover{
                color: #5e4ac2;
            }
            .iTerms__text{
                margin-right: 120px;
                max-width: 244px;
                min-height: 110px;
                font-family: 'Open_Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #FFFFFF;
            }
            .iTerms__info{
                max-width: 151px;
                font-family: 'Open_Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #FFFFFF;
                display: inline-block;
            } 

        }
    }
}

.footer__address{
    display: flex;
    justify-content: space-between;
    border-top: #FFFFFF solid 1px;
    padding: 13px 0px 0px 0px;
    & p:first-child {
        font-family: 'Open_Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #E7E9ED;
        margin-right: 100px;
      }
    & a{
        font-family: 'Open_Sans';
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        color: #E7E9ED;
        @include adaptiv-font(16, 14);
    }
    & a:hover{
        color: #5e4ac2;
    }
}

///media
@media (max-width: 992px) {
    .footer__info{
        .info__block{
            gap: 73px;
        }
    }
    .footer__address{
        & p:first-child {
            margin-right: 0px;
        }
    }
}

@media (max-width: 768px) {
    .footer__title{
        margin: 0% 4%;
        .footer__text{
            padding: 0px 10px;
            & h2{
                text-transform: initial;  
            }
        }

    }
    
    .footer__info{
        margin: 82px 25px 10px 25px;
        .info__block{
            .box{
                flex: 1 1 auto;
                padding-bottom: 40px; 
            }


        }
    }
    .footer__address{
        padding: 13px 0px 13px 15px;
    }
}

@media (max-width: 620px) {
    .footer__info{
        .info__block{
            flex-wrap: wrap;
            flex: 0 1 100%;
        }
    }
}

@media (max-width: 500px) {
    .footer__title{
        .footer__text{
            & h2{
                padding: 8px 0px;
                font-weight: 400;
            }
        }

        .footer__btn{
            gap: 18px;
            flex-wrap: wrap;
            .button{
                padding: 12px 22px;
            }
        }
    }
    .footer__info{
        .info__block{
            gap: 2%;
        }
    }
}

@media (max-width: 350px) {
    .footer__title{
        .footer__btn{
            flex-direction: column;
        }
    }
}

@media (max-width: 311px) {
    .footer__info{
        flex-direction: column;
        .info__block{
            flex-direction: column;
            flex-direction: column;
            align-items: center;
            .box{
                align-items: center;
            }
        }
    }

}

