.swiper {
    padding: 10px;
    width: 60%;
    min-height: 480px;
    background: #F9FAFC;
    box-shadow: 0px 38px 56px rgba(191, 204, 225, 0.39), 0px 20.7957px 15.3272px rgba(191, 204, 225, 0.177553), 0px 15.8955px 0px rgba(191, 204, 225, 0.0372931);
    border-radius: 8px;
    .swiper-slide {
        max-width: 255px;
        min-height: 440px;
        background: #FFFFFF;;
        box-shadow: 0px 38px 56px rgba(191, 204, 225, 0.39), 0px 20.7957px 15.3272px rgba(191, 204, 225, 0.177553), 0px 15.8955px 0px rgba(191, 204, 225, 0.0372931);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.block{
    padding: 48px 0px 29px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 204px;
    .cards__img {
        & img {
            width: 60px;
            height: 60px;  
        }
    }
    .cards__text{
        & h3{
            margin: 16px 0px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 120%;
            color: #1D212A; 
        }
        & p{
            font-family: 'Open_Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #565A65;  
        }
    }

}
  
.cards__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 12px;
   & button{
      background: #8770FF;
      border-radius: 8px;
      padding: 12px 64px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #FFFFFF;
      &:hover{
        background: rgb(167, 115, 206);
        background: linear-gradient(0deg, rgb(164, 98, 194) 0%, rgb(151, 102, 225) 100%);
    }
    }
    & a{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #1D212A;
        margin: 12px 0px 0px 0px;
        
        .arrow{
            position: absolute;
            top: 95%;
            margin-left: 7px;
            width: 10px;
            height: 10px;
            background: transparent;
            border-top: 3px solid #32d989;
            border-right: 3px solid #30d987;
            transition: all 200ms ease;
            transform: translate3d(0,-50%,0) rotate(45deg);
            &:hover {
                border-color: #30d987;
                box-shadow: 0.5vmin -0.5vmin 0 #2e9563;
            }
        }
    }
    & a:hover{
        color: #32d989;
    }
    
}
  
.showcaseSlider-nav{
    margin: 16px 10px;
    height: 20px;
    font-size: 18px;
    color: rgba(29, 33, 42, 1);
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding-right: 0;
    & button{
        background-color: #ffffff00;
        color: #1D212A;
    }
}
  
  
.showcaseSlider-prev, .showcaseSlider-next {
    position: static;
    display: flex;
    align-items: flex-end;
    color: rgba(29, 33, 42, 1);
    margin: 5px;
    height: auto;
    font-weight: 600;
} 
  
.showcaseSlider-prev::after, .showcaseSlider-next::after {
    font-size: 18px;
}
  
.showcaseSlider-prev:hover, .showcaseSlider-next:hover {
    color: rgba(135, 112, 255, 1);
}

///media
@media (max-width: 768px) {
    .swiper {
        width: 90%;
    }
}
@media (max-width: 450px) {
    .block{
        padding: 32px 0px 24px 24px;
        .cards__text{
            & h3{
                font-size: 18px;
            }
        }
    }
}
